#detail-section{
    padding-top: 50px;
    i{
        color: #3395FF;
        font-size: 42px;
    }
    ul{
        list-style: none;
    }
    .service-detail{
        max-width: 600px;
        h3{
            margin-bottom: 30px;
        }
    }
}